@model AlcaldiaFront.DTOs.InventarioDTOs.InventarioRespuestaDTO
@{
    ViewData["Title"] = "Detalles del Elemento";
}

<h1>Eliminar</h1>
<h3>¿Estás seguro de que deseas eliminar este proyecto?</h3>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_ingreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_ingreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MunicipioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_inventario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>