@model AlcaldiaFront.DTOs.InventarioDTOs.InventarioRespuestaDTO
@{
    ViewData["Title"] = "Detalles del Elemento";
}

<h1>Detalles</h1>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_ingreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_ingreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MunicipioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_inventario" class="btn btn-primary">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id_inventario" class="btn btn-danger">Eliminar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
