@model AlcaldiaFront.DTOs.ProyectoDTOs.ProyectoRespuestaDTo
@{
    ViewData["Title"] = "Eliminar Proyecto";
}

<h1>Eliminar</h1>
<h3>¿Estás seguro de que deseas eliminar este proyecto?</h3>
<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Proyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_Proyecto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Presupuesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Presupuesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MunicipioId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Proyecto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>