@model IEnumerable<AlcaldiaFront.DTOs.TipoDocumentoDTOs.TipoDocRespuestaDTO>

@{
    ViewData["Title"] = "Tipos de Documento";
}

<h1>Listado de Tipos de Documento</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_tipo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_tipo">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_tipo">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

