@model AlcaldiaFront.DTOs.CargoDTOs.CargoRespuestaDTo

@{
    ViewData["Title"] = "Detalles del Cargo";
}

<h1>Detalles</h1>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Cargo">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>